<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net452" />
  <package id="Oracle.Data.Access.2.11.2.1.0_x64" version="1.0.0" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net452" />
</packages>