@{
    Layout = null;
}

<div class="box-footer clearfix"  id="content-audio">
    <iframe id="frmAlert" src="https://translate.google.com.vn/translate_tts?ie=UTF-8&q=@ViewBag.Translate&tl=vi&client=tw-ob"></iframe>
</div>