<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Portal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="CMSConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.1.10;Initial Catalog=ALSC_CORE;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" />
    <add name="ALSC_SyncData" connectionString="Data Source=10.10.1.10;Initial Catalog=ALSC_SyncData;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ALSC_FlightControl" connectionString="Data Source=10.10.1.10;Initial Catalog=ALSC_FLIGHTCONTROL;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ALSC_EInvoice" connectionString="Data Source=10.10.1.10;Initial Catalog=eInvoice;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="UAT_ALSC_EInvoice" connectionString="Data Source=10.10.1.10;Initial Catalog=UAT_EInvoice_ALSC;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ALSC_PXKControl" connectionString="Data Source=10.10.1.10;Initial Catalog=DBSPM.ALSNOIBAI;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ALSConnect" connectionString="Data Source=10.10.1.10;Initial Catalog=ConnectALS;Integrated Security=False;User Id=sa;Password=abc@123@456@789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DataConnection" connectionString="Data Source=10.10.1.10;Initial Catalog=hermes-wp;User Id=sa;Password=abc@123@456@789;" providerName="System.Data.SqlClient" />
    <add name="HemrmesConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.0.15)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=cdbrac)));User Id=HAN_W1_HL;Password=hermes" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="HemrmesArchieveConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.0.23)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=cdbrac)));User Id=HAN_W1_HL;Password=hermes" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="HemrmesArchieve2018Connection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.0.25)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=cdbrac)));User Id=HAN_W1_HL;Password=hermes" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.0.15)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=cdbrac)));User Id=customservice;Password=Alsc#2@18" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="CustomService" connectionString="Data Source=10.10.1.10;Initial Catalog=ALSCCM;User Id=sa;Password=abc@123@456@789;" providerName="System.Data.SqlClient" />
    <add name="CNSEXCEL03" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0};Extended Properties='Excel 8.0;HDR=Yes;IMEX=1'" />
    <add name="CNSEXCEL07" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=Yes;IMEX=1'" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="WARHOUSE" value="ALSB,ALSW,ALST,ALSE,CLC" />
    <add key="CX" value="FSU6" />
    <add key="KA" value="FSU6" />
    <add key="TK" value="FSU8" />
    <add key="EK" value="FSU12" />
    <add key="KE" value="FSU6" />
    <add key="LJ" value="FSU6" />
    <add key="JL" value="FSU7" />
    <add key="CI" value="FSU6" />
    <add key="password" value="hoangtuech@1" />
    <add key="username" value="huy.nguyen.quang" />
    <add key="UserNameEInvoiceALSC" value="0106232917.ALS2" />
    <add key="PasswordEInvoiceALSC" value="57ab6d30" />
    <add key="UAT_UserNameEInvoiceALSC" value="0106232917.admin" />
    <add key="UAT_PasswordEInvoiceALSC" value="admin@123" />
    <add key="InvoiceFieldTypeALSC" value="01GTKT" />
    <add key="InvoiceFieldFormALSC" value="01GTKT0/001" />
    <add key="UAT_InvoiceFieldFormALSC" value="1" />
    <add key="InvoiceFieldSerialALSC_EXPORT" value="AX/21E" />
    <add key="UAT_InvoiceFieldSerialALSC_EXPORT" value="K22TAA" />
    <add key="InvoiceFieldSerialALSC_IMPORT" value="AN/22E" />
    <add key="StaxALSC" value="0106232917" />
    <add key="SeqCancel_EXPORT" value="01GTKT0/001-AX/20E-" />
    <add key="SeqCancel_IMPORT" value="01GTKT0/001-AN/21E-" />
    <add key="SeqCancel" value="01GTKT0/001-AA/20E-" />
    <add key="URL_Appr" value="https://api.einvoice.fpt.com.vn/appr-invoice" />
    <add key="UAT_URL_Appr" value="https://api-uat.einvoice.fpt.com.vn/appr-invoice" />
    <add key="Apprs" value="https://api.einvoice.fpt.com.vn/apprs" />
    <add key="URL_SearchPDF" value="https://api.einvoice.fpt.com.vn/search-invoice?stax=0106232917" />
    <add key="UAT_URL_SearchPDF" value="https://api-uat.einvoice.fpt.com.vn/search-invoice?stax=0106232917" />
    <add key="URL_Cancel" value="https://api.einvoice.fpt.com.vn/delete-invoice" />
    <add key="UAT_URL_Cancel" value="https://api-uat.einvoice.fpt.com.vn/cancel-invoice" />
    <add key="NotifyAgen" value="http://10.10.1.11:3434/api/notification/send"/>

    <!--<add key="URL_Appr" value="https://api-einvoice.xplat.fpt.com.vn/appr-invoice"/>
    <add key="URL_SearchPDF" value="https://api-einvoice.xplat.fpt.com.vn/search-invoice?stax=0106232917"/>
    <add key="URL_SearchPDF_ALSX" value="https://api-einvoice.xplat.fpt.com.vn/search-invoice?stax=0106512255"/>
    <add key="URL_Cancel" value="https://api-einvoice.xplat.fpt.com.vn/delete-invoice" />-->
    <add key="owin:AutomaticAppStartup" value="true" />
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="240">
    </sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="240" />
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="~/accessdenied">
      <error statusCode="404" redirect="~/accessdenied/pagenotfound" />
    </customErrors>
    <membership defaultProvider="MemberProvider">
      <providers>
        <add name="MemberProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RoleProvider">
      <providers>
        <add name="RoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Web.Portal.Properties.Settings>
      <setting name="Web_Portal_com_cmcsoft_hoadon_DefaultService" serializeAs="String">
        <value>https://hoadon.cmcsoft.com/service/iv_v/DefaultService.asmx</value>
      </setting>
    </Web.Portal.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>