
@{
    Layout = null;
}
<div class="col-md-12 col-sm-10" style="margin-bottom:20px;">
    <div class="row">
        <div class="caption caption-md">
            <span class="caption-subject font-blue-madison bold uppercase">QUẢN LÝ BÁO CÁO HANDLING</span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">Báo cáo Handling hàng nhập</span>
                <span class="caption-helper">45 pending</span>
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small ">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control form-control-solid input-circle" placeholder="search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=IMP_HANDLING01&paging=true&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO TRẢ HÀNG SKID." target="_blank" class="item-name primary-link">Báo cáo Handling Import 01</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO TRẢ HÀNG SKID. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=IMP_HANDLING02&paging=true&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG TRẢ HÀNG CARTON." target="_blank" class="item-name primary-link">Báo cáo Handling Import 02</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG TRẢ HÀNG CARTON. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=IMP_HANDLING03&paging=true&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG TRẢ HÀNG ALSX" target="_blank" class="item-name primary-link">Báo cáo Handling Import 03</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG TRẢ HÀNG ALSX. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=IMP_HANDLING04&paging=false&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG TRẢ HÀNG" target="_blank" class="item-name primary-link">Báo cáo Handling Import 04</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG TRẢ HÀNG  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">Báo cáo Handling hàng xuất</span>
                @*<span class="caption-helper">45 pending</span>*@
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small ">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control form-control-solid input-circle" placeholder="search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=EXP_HANDLING01&paging=true&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG CNH CARTON" target="_blank" class="item-name primary-link">Báo cáo EXP_HANDLING01</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG CNH CARTON</div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=EXP_HANDLING02&paging=true&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG CNH ALSX." target="_blank" class="item-name primary-link">Báo cáo EXP_HANDLING02</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG CNH ALSX. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=EXP_HANDLING03&paging=true&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG CNH SKID." target="_blank" class="item-name primary-link">Báo cáo EXP_HANDLING03</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG CNH SKID. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=EXP_HANDLING04&paging=false&fromDate=true&toDate=true&flightNumber=false&mawb=false&shc=false&des=BÁO CÁO SẢN LƯỢNG CNH." target="_blank" class="item-name primary-link">Báo cáo EXP_HANDLING04</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG CNH </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/HandlingReport/Report?id=EXP_HANDLING05&paging=false&fromDate=true&toDate=true&flightNumber=true&mawb=false&shc=true&des=BÁO CÁO TỔNG HỢP SKID & CARTON THEO CHUYẾN BAY." target="_blank" class="item-name primary-link">BÁO CÁO TỔNG HỢP SKID & CARTON THEO CHUYẾN BAY</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO TỔNG HỢP SKID & CARTON THEO CHUYẾN BAY </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".egov-page-content").css({ 'min-height': '950px'});
</script>