
@{
    Layout = null;
}
<div class="col-md-12 col-sm-10" style="margin-bottom:20px;">
    <div class="row">
        <div class="caption caption-md">
            <span class="caption-subject font-blue-madison bold uppercase">QUẢN LÝ BÁO CÁO HÀNG NHẬP</span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">BÁO CÁO TÀI LIỆU NHẬP</span>
                @*<span class="caption-helper">45 pending</span>*@
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small ">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control form-control-solid input-circle" placeholder="search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/ImpReport/Report?id=TLN01&paging=false&fromDate=true&toDate=fasle&flightNumber=true&mawb=false&shc=false&total=false&&des=BÁO CÁO HÀNG DỰ KIẾN VỀ TRÊN CHUYẾN BAY." target="_blank" class="item-name primary-link">TLN01</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG DỰ KIẾN VỀ TRÊN CHUYẾN BAY. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/ImpReport/Report?id=TLN02&paging=false&fromDate=true&toDate=fasle&flightNumber=fasle&mawb=false&shc=false&total=false&des=BÁO CÁO SẢN LƯỢNG THEO NGÀY." target="_blank" class="item-name primary-link">TLN02</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG THEO NGÀY. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/ImpReport/Report?id=TLN03&paging=false&fromDate=true&toDate=true&flightNumber=fasle&mawb=false&shc=false&total=false&des=BÁO CÁO TỔNG HỢP SẢN LƯỢNG THEO NGÀY." target="_blank" class="item-name primary-link">TLN03</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO TỔNG HỢP SẢN LƯỢNG. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/ImpReport/Report?id=TLN04&paging=false&fromDate=true&toDate=fasle&flightNumber=true&mawb=false&shc=false&total=false&des=BÁO CÁO HÀNG VỀ TRÊN CHUYẾN BAY." target="_blank" class="item-name primary-link">TLN04</a>
                            </div>
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG VỀ TRÊN CHUYẾN BAY. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/ImpReport/Report?id=TLN05&paging=false&fromDate=true&toDate=fasle&flightNumber=true&mawb=false&shc=false&total=false&des=BÁO CÁO HÀNG ĐẶC BIỆT CHUYẾN BAY." target="_blank" class="item-name primary-link">TLN05</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG ĐẶC BIỆT THEO CHUYẾN BAY. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/home/flight" target="_blank" class="item-name primary-link">TLN06</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO SẢN LƯỢNG THEO CHUYẾN BAY. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/custom" target="_blank" class="item-name primary-link">TLN07</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open
                                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO TRẢ HÀNG NHẬP. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/custom/inventory" target="_blank" class="item-name primary-link">TLN08</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG TỒN. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/ImpReport/Report?id=TLN06&paging=false&fromDate=false&toDate=fasle&flightNumber=flase&mawb=false&shc=false&total=true&des=BÁO CÁO HÀNG TỒN V2." target="_blank" class="item-name primary-link">TLN09.BÁO CÁO HÀNG TỒN V2.</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG TỒN V2. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/custom/import" target="_blank" class="item-name primary-link">TLN10</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG NHẬP. </div>
                    </div>
                    @*<div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/impawb/importrs" target="_blank" class="item-name primary-link">Báo cáo hàng về</a>
                            </div>
                        </div>
                        <div class="item-body"> BÁO CÁO HÀNG VỀ. </div>
                    </div>*@
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/invoice" target="_blank" class="item-name primary-link">TLN11</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO THANH TOÁN. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/invoice/indexpos" target="_blank" class="item-name primary-link">TLN12</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO THANH TOÁN BẰNG THẺ. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/queue" target="_blank" class="item-name primary-link">TLN13</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                            @*<span class="item-status">
                    <span class="badge badge-empty badge-success"></span> Open
                </span>*@
                        </div>
                        <div class="item-body"> BÁO CÁO CẤP SỐ. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/capso/log" target="_blank" class="item-name primary-link">TLN14</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                        </div>
                        <div class="item-body"> BÁO CÁO LOG CẤP SỐ. </div>
                    </div>
                    
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/gensita" target="_blank" class="item-name primary-link">TLN15</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                        </div>
                        <div class="item-body">XUẤT ĐIỆN VĂN</div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/damage" target="_blank" class="item-name primary-link">TLN16</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                        </div>
                        <div class="item-body">BÁO CÁO ĐIỆN BẤT THƯỜNG</div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/cargospecial" target="_blank" class="item-name primary-link">TLN17</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                        </div>
                        <div class="item-body">BÁO CÁO HÀNG ĐẶC BIỆT</div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/cargospecial" target="_blank" class="item-name primary-link">TLN18</a>
                                @*<span class="item-label">3 hrs ago</span>*@
                            </div>
                        </div>
                        <div class="item-body">THỐNG KÊ ĐIỆN RCS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-12 col-sm-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">BÁO CÁO KHAI THÁC NHẬP</span>
                @*<span class="caption-helper">45 pending</span>*@
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small ">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control form-control-solid input-circle" placeholder="search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/kscb/export" target="_blank" class="item-name primary-link">KTN01</a>
                            </div>
                        </div>
                        <div class="item-body"> BÁO CÁO KIỂM SOÁT CHUYẾN BAY. </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <a href="/pxk" target="_blank" class="item-name primary-link">KTN02</a>
                            </div>
                        </div>
                        <div class="item-body"> BÁO CÁO KIỂM SOÁT TRẢ HÀNG. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(".egov-page-content").css({ 'min-height': '1800px'});
</script>