@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">QUẢN LÝ CHUYẾN BAY HÀNG XUẤT</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" data-id="02" class="btn btn-circle btn-danger btn-export-log">
                        <i class="fa fa-download"></i> Xuất thông tin
                    </a>

                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                
                <div class="row">
                    <div class="form-group form-md-line-input">

                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>





        </div>
    </div>

</div>
<script>
    var flightAction = {
        search: function () {
            egovutil.getContent("#content-list-result", "/FlupFlight/list?fda=" + $("#fda").val()
                                                                    + "&tda=" + $("#tda").val()
                                                                    );
        }
    }
    flightAction.search();
    $(".btn-export-log").click(function () {
        window.location.href = "/queue/export?ino=" + $("#ino").val()
                                                                    + "&fda=" + $("#fda").val()
                                                                    + "&tda=" + $("#tda").val()

    });
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
    });
  
   

    $("#btn-search").click(function () { flightAction.search(); })

</script>