@{
    Layout = null;
}
<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:x="urn:schemas-microsoft-com:office:excel"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 15">

    <link rel=File-List href=filelist.xml>
    <link href="@Url.Content("~/images/stylesheet.css")" rel="stylesheet" type="text/css" />
    <link rel=Stylesheet href=stylesheet.css>
    <style>
    </style>
    <![if !supportTabStrip]>
    <script language="JavaScript">
<!--
function fnUpdateTabs()
 {
  if (parent.window.g_iIEVer>=4) {
   if (parent.document.readyState=="complete"
    && parent.frames['frTabs'].document.readyState=="complete")
   parent.fnSetActiveSheet(0);
  else
   window.setTimeout("fnUpdateTabs();",150);
 }
}


    </script>
    <![endif]>
</head>

<body link="#0563C1" vlink="#954F72">

    <table border=0 cellpadding=0 cellspacing=0 width=1088 style='border-collapse:
 collapse;table-layout:fixed;width:816pt'>
        <col width=64 span=17 style='width:48pt'>
        @*page1*@
        <div>
            <tr height=19 style='height:14.5pt'>
                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=17 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:3;margin-left:0px;margin-top:5px;width:763px;
  height:131px'><img width=763 height=131 src="http://localhost:5031/images/image003.png" v:shapes="Picture_x0020_3 Picture_x0020_6"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=133 style='height:101.5pt;mso-xlrowspan:7'>
                <td height=133 colspan=17 style='height:101.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=4 height=76 class=xl65 width=384 style='height:58.0pt;
  width:288pt'>
                    GI&#7844;Y PHÉP RA VÀO KMTC
                </td>
                <td colspan=6 rowspan=4 class=xl65 width=384 style='width:288pt'>
                    GI&#7844;Y
                    PHÉP RA VÀO KMTC
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=4 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=8 height=152 class=xl67 style='height:116.0pt'>88C-17017</td>
                <td colspan=6 rowspan=8 class=xl67>88C-17017</td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:7;margin-left:256px;margin-top:1px;width:120px;
  height:118px'><img width=120 height=118 src="http://localhost:5031/images/image005.png" v:shapes="Picture_x0020_7"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:4;margin-left:256px;margin-top:1px;width:120px;
  height:120px'><img width=120 height=120 src="http://localhost:5031/images/image007.png" v:shapes="Picture_x0020_4"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=17 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:5;margin-left:0px;margin-top:0px;width:772px;
  height:87px'><img width=772 height=87 src="http://localhost:5031/images/image010.png" v:shapes="Picture_x0020_5 Picture_x0020_8"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>


        </div>
        @*page2*@
        <div>
            <tr height=90 style='height:100pt;mso-xlrowspan:9'>
                <td height=90 colspan=17 style='height:100pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:1;margin-left:0px;margin-top:3px;width:734px;
  height:536px'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td width=0 height=0></td>
                                <td width=351></td>
                                <td width=32></td>
                                <td width=351></td>
                            </tr>
                            <tr>
                                <td height=1></td>
                                <td rowspan=3 align=left valign=top>
                                    <img width=351 height=536
                                         src="http://localhost:5031/images/image013.png" v:shapes="TextBox_x0020_1">
                                </td>
                            </tr>
                            <tr>
                                <td height=533></td>
                                <td></td>
                                <td align=left valign=top>
                                    <img width=351 height=533 src="http://localhost:5031/images/image014.png"
                                         v:shapes="TextBox_x0020_2">
                                </td>
                            </tr>
                            <tr>
                                <td height=2></td>
                            </tr>
                        </table>
                    </span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
                <td colspan=10 style='mso-ignore:colspan'></td>
            </tr>

        </div>
        @*page3*@
        <div>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:3;margin-left:0px;margin-top:5px;width:763px;
  height:131px'><img width=763 height=131 src="http://localhost:5031/images/image003.png" v:shapes="Picture_x0020_3 Picture_x0020_6"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=133 style='height:101.5pt;mso-xlrowspan:7'>
                <td height=133 colspan=17 style='height:101.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=4 height=76 class=xl65 width=384 style='height:58.0pt;
  width:288pt'>
                    GI&#7844;Y PHÉP RA VÀO KMTC
                </td>
                <td colspan=6 rowspan=4 class=xl65 width=384 style='width:288pt'>
                    GI&#7844;Y
                    PHÉP RA VÀO KMTC
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=4 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=8 height=152 class=xl67 style='height:116.0pt'>88C-17017</td>
                <td colspan=6 rowspan=8 class=xl67>88C-17017</td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:7;margin-left:256px;margin-top:1px;width:120px;
  height:118px'><img width=120 height=118 src="http://localhost:5031/images/image005.png" v:shapes="Picture_x0020_7"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:4;margin-left:256px;margin-top:1px;width:120px;
  height:120px'><img width=120 height=120 src="http://localhost:5031/images/image007.png" v:shapes="Picture_x0020_4"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=17 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:5;margin-left:0px;margin-top:0px;width:772px;
  height:87px'><img width=772 height=87 src="http://localhost:5031/images/image010.png" v:shapes="Picture_x0020_5 Picture_x0020_8"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>

        </div>
        @*page4*@
        <div>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:1;margin-left:0px;margin-top:3px;width:734px;
  height:536px'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td width=0 height=0></td>
                                <td width=351></td>
                                <td width=32></td>
                                <td width=351></td>
                            </tr>
                            <tr>
                                <td height=1></td>
                                <td rowspan=3 align=left valign=top>
                                    <img width=351 height=536
                                         src="http://localhost:5031/images/image013.png" v:shapes="TextBox_x0020_1">
                                </td>
                            </tr>
                            <tr>
                                <td height=533></td>
                                <td></td>
                                <td align=left valign=top>
                                    <img width=351 height=533 src="http://localhost:5031/images/image014.png"
                                         v:shapes="TextBox_x0020_2">
                                </td>
                            </tr>
                            <tr>
                                <td height=2></td>
                            </tr>
                        </table>
                    </span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
                <td colspan=10 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=0 style='display:none'>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
            </tr>
        </div>
        @*page5*@
        <div>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:3;margin-left:0px;margin-top:5px;width:763px;
  height:131px'><img width=763 height=131 src="http://localhost:5031/images/image003.png" v:shapes="Picture_x0020_3 Picture_x0020_6"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=133 style='height:101.5pt;mso-xlrowspan:7'>
                <td height=133 colspan=17 style='height:101.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=4 height=76 class=xl65 width=384 style='height:58.0pt;
  width:288pt'>
                    GI&#7844;Y PHÉP RA VÀO KMTC
                </td>
                <td colspan=6 rowspan=4 class=xl65 width=384 style='width:288pt'>
                    GI&#7844;Y
                    PHÉP RA VÀO KMTC
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=4 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=8 height=152 class=xl67 style='height:116.0pt'>88C-17017</td>
                <td colspan=6 rowspan=8 class=xl67>88C-17017</td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:7;margin-left:256px;margin-top:1px;width:120px;
  height:118px'><img width=120 height=118 src="http://localhost:5031/images/image005.png" v:shapes="Picture_x0020_7"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:4;margin-left:256px;margin-top:1px;width:120px;
  height:120px'><img width=120 height=120 src="http://localhost:5031/images/image007.png" v:shapes="Picture_x0020_4"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=17 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:5;margin-left:0px;margin-top:0px;width:772px;
  height:87px'><img width=772 height=87 src="http://localhost:5031/images/image010.png" v:shapes="Picture_x0020_5 Picture_x0020_8"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>

        </div>
        @*page6*@
        <div>

            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:1;margin-left:0px;margin-top:3px;width:734px;
  height:536px'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td width=0 height=0></td>
                                <td width=351></td>
                                <td width=32></td>
                                <td width=351></td>
                            </tr>
                            <tr>
                                <td height=1></td>
                                <td rowspan=3 align=left valign=top>
                                    <img width=351 height=536
                                         src="http://localhost:5031/images/image013.png" v:shapes="TextBox_x0020_1">
                                </td>
                            </tr>
                            <tr>
                                <td height=533></td>
                                <td></td>
                                <td align=left valign=top>
                                    <img width=351 height=533 src="http://localhost:5031/images/image014.png"
                                         v:shapes="TextBox_x0020_2">
                                </td>
                            </tr>
                            <tr>
                                <td height=2></td>
                            </tr>
                        </table>
                    </span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
                <td colspan=10 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=0 style='display:none'>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
            </tr>
        </div>


        @*page7*@
        <div>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:3;margin-left:0px;margin-top:5px;width:763px;
  height:131px'><img width=763 height=131 src="http://localhost:5031/images/image003.png" v:shapes="Picture_x0020_3 Picture_x0020_6"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=133 style='height:101.5pt;mso-xlrowspan:7'>
                <td height=133 colspan=17 style='height:101.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=4 height=76 class=xl65 width=384 style='height:58.0pt;
  width:288pt'>
                    GI&#7844;Y PHÉP RA VÀO KMTC
                </td>
                <td colspan=6 rowspan=4 class=xl65 width=384 style='width:288pt'>
                    GI&#7844;Y
                    PHÉP RA VÀO KMTC
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=4 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=8 height=152 class=xl67 style='height:116.0pt'>88C-17017</td>
                <td colspan=6 rowspan=8 class=xl67>88C-17017</td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:7;margin-left:256px;margin-top:1px;width:120px;
  height:118px'><img width=120 height=118 src="http://localhost:5031/images/image005.png" v:shapes="Picture_x0020_7"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:4;margin-left:256px;margin-top:1px;width:120px;
  height:120px'><img width=120 height=120 src="http://localhost:5031/images/image007.png" v:shapes="Picture_x0020_4"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=17 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:5;margin-left:0px;margin-top:0px;width:772px;
  height:87px'><img width=772 height=87 src="http://localhost:5031/images/image010.png" v:shapes="Picture_x0020_5 Picture_x0020_8"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>

        </div>
        @*page8*@
        <div>

            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:1;margin-left:0px;margin-top:3px;width:734px;
  height:536px'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td width=0 height=0></td>
                                <td width=351></td>
                                <td width=32></td>
                                <td width=351></td>
                            </tr>
                            <tr>
                                <td height=1></td>
                                <td rowspan=3 align=left valign=top>
                                    <img width=351 height=536
                                         src="http://localhost:5031/images/image013.png" v:shapes="TextBox_x0020_1">
                                </td>
                            </tr>
                            <tr>
                                <td height=533></td>
                                <td></td>
                                <td align=left valign=top>
                                    <img width=351 height=533 src="http://localhost:5031/images/image014.png"
                                         v:shapes="TextBox_x0020_2">
                                </td>
                            </tr>
                            <tr>
                                <td height=2></td>
                            </tr>
                        </table>
                    </span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
                <td colspan=10 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=0 style='display:none'>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
            </tr>
        </div>


        @*page7*@
        <div>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:3;margin-left:0px;margin-top:5px;width:763px;
  height:131px'><img width=763 height=131 src="http://localhost:5031/images/image003.png" v:shapes="Picture_x0020_3 Picture_x0020_6"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=133 style='height:101.5pt;mso-xlrowspan:7'>
                <td height=133 colspan=17 style='height:101.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=4 height=76 class=xl65 width=384 style='height:58.0pt;
  width:288pt'>
                    GI&#7844;Y PHÉP RA VÀO KMTC
                </td>
                <td colspan=6 rowspan=4 class=xl65 width=384 style='width:288pt'>
                    GI&#7844;Y
                    PHÉP RA VÀO KMTC
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=4 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=8 height=152 class=xl67 style='height:116.0pt'>88C-17017</td>
                <td colspan=6 rowspan=8 class=xl67>88C-17017</td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:7;margin-left:256px;margin-top:1px;width:120px;
  height:118px'><img width=120 height=118 src="http://localhost:5031/images/image005.png" v:shapes="Picture_x0020_7"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=6 rowspan=6 height=114 width=384 style='height:87.0pt;width:288pt'
                    align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:4;margin-left:256px;margin-top:1px;width:120px;
  height:120px'><img width=120 height=120 src="http://localhost:5031/images/image007.png" v:shapes="Picture_x0020_4"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td colspan=6 rowspan=6 height=114 class=xl68 width=384 style='height:87.0pt;
    width:288pt'>
                                    <span style='mso-spacerun:yes'>    </span><font class="font5">
                                        <span style='mso-spacerun:yes'></span>Ngày h&#7871;t h&#7841;n<br>
                                        <span style='mso-spacerun:yes'>      </span>31/12/2019<span style='mso-spacerun:yes'></span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=5 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=5 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=17 style='height:14.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:5;margin-left:0px;margin-top:0px;width:772px;
  height:87px'><img width=772 height=87 src="http://localhost:5031/images/image010.png" v:shapes="Picture_x0020_5 Picture_x0020_8"></span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>

        </div>
        @*page8*@
        <div>

            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=171 style='height:130.5pt;mso-xlrowspan:9'>
                <td height=171 colspan=17 style='height:130.5pt;mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 style='height:14.5pt' align=left valign=top>

                    <![if !vml]><span style='mso-ignore:vglayout;
  position:absolute;z-index:1;margin-left:0px;margin-top:3px;width:734px;
  height:536px'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td width=0 height=0></td>
                                <td width=351></td>
                                <td width=32></td>
                                <td width=351></td>
                            </tr>
                            <tr>
                                <td height=1></td>
                                <td rowspan=3 align=left valign=top>
                                    <img width=351 height=536
                                         src="http://localhost:5031/images/image013.png" v:shapes="TextBox_x0020_1">
                                </td>
                            </tr>
                            <tr>
                                <td height=533></td>
                                <td></td>
                                <td align=left valign=top>
                                    <img width=351 height=533 src="http://localhost:5031/images/image014.png"
                                         v:shapes="TextBox_x0020_2">
                                </td>
                            </tr>
                            <tr>
                                <td height=2></td>
                            </tr>
                        </table>
                    </span><![endif]><span style='mso-ignore:vglayout2'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=19 width=64 style='height:14.5pt;width:48pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td colspan=16 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=19 style='height:14.5pt'>
                <td height=19 colspan=6 style='height:14.5pt;mso-ignore:colspan'></td>
                <td><span style='mso-spacerun:yes'> </span></td>
                <td colspan=10 style='mso-ignore:colspan'></td>
            </tr>
            <tr height=0 style='display:none'>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
                <td width=64 style='width:48pt'></td>
            </tr>
        </div>

    </table>


</body>

</html>
