@{
    Layout = null;

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">Thông tin vào ra</span>
                </div>
                <div class="actions">                    
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">
                       

                        <div class="col-md-3 col-xs-12">

                            <div class="input-group">
                                 <span class="input-group-btn">
                                    <button class="btn btn-success btn-export" type="button"><i class="fa fa-download"></i>Thực hiện</button>
                                </span>


                            </div>
                        </div>


                    </div>

                    <div class="form-group form-md-line-input">
                        <div class="col-md-12">

                            <div class="kv-avatar center-block">
                                <div id="fileImport">

                                </div>


                            </div>

                        </div>
                    </div>
                </div>


            </div>





        </div>
    </div>

</div>
<script>
   
    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    $(".btn-export").click(function () {
        window.location.href = "/inout/export?file=" + $("#fileImportattach").val()

    });
    egovutil.createUploadFile("fileImport", "", "");


</script>