
@{
    Layout = null;

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">QUẢN LÝ THÔNG TIN ỦY QUYỀN</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle btn-danger btn-add">
                        <i class="fa fa-plus"></i>Thêm mới thông tin ủy quyền
                    </a>
                    <a href="javascript:;" class="btn btn-circle btn-danger btn-syn">
                        <i class="fa fa-plus"></i>Đồng bộ dữ liệu
                    </a>
                    <a href="javascript:;" data-id="02" class="btn btn-circle btn-danger btn-export">
                        <i class="fa fa-download"></i> Xuất thông tin
                    </a>
                   
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">
                        <div class="col-md-2 col-xs-12">
                            <select class="form-control  bs-select" id="ya" data-live-search="true" data-size="8">
                               
                                @for (int i=2018;i<2050;i++)
                                {
                                    <option value="@Html.DisplayTextFor(model=>i)" @Html.Raw(i==DateTime.Now.Year?"Selected":"")>@Html.DisplayTextFor(model => i)</option>
                                }
                                <option value="GTDH" >GTDH</option>
                            </select>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Năm</span>
                        </div>
                        <div class="col-md-2 col-xs-12">
                                <input class="form-control form-control-inline" id="cod" value="" placeholder="Mã ủy quyền" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo mã ủy quyền</span>                              
                            
                        </div>
                        <div class="col-md-3 col-xs-12">
                                <input class="form-control form-control-inline" id="ifo" value="" placeholder="Tên doanh nghiệp ủy quyền" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo tên doanh nghiệp</span>
                                

                            </div>
                        
                         
                        <div class="col-md-2 col-xs-12">
                                <input class="form-control form-control-inline" id="pe" value="" placeholder="Tên người được ủy quyền" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo tên người được ủy quyền</span>
                                

                        </div>
                    

                        <div class="col-md-3 col-xs-12">

                            <div class="input-group">

                                <input class="form-control form-control-inline" id="idno" value="" placeholder="Số CMND" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo số CMND</span>
                                <span class="input-group-btn">
                                    <button id="btn-search" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>





        </div>
    </div>

</div>
<script>
    var customerRequestAction = {
        search: function () {
            egovutil.getContent("#content-list-result", "/customerrequest/list?year="+$("#ya").val()
                                                                    + "&code=" + $("#cod").val()
                                                                    + "&infor=" + $("#ifo").val()
                                                                    + "&people=" + $("#pe").val()
                                                                    +"&idno="+$("#idno").val()

                                                                    );
        }
    }
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
    });
    $(".btn-export").click(function () {
        window.location.href = "/customerrequest/export?year=" + $("#ya").val()
                                                                    + "&code=" + $("#cod").val()
                                                                    + "&infor=" + $("#ifo").val()
                                                                    + "&people=" + $("#pe").val()
                                                                    + "&idno=" + $("#idno").val()
    });
   
    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    $(".btn-add").click(function () {
        egovutil.dialog("Thêm mới thông tin ủy quyền", "large", "/customerrequest/edit?cmd=ADD", "customerRequestAction.search()");
    });
    $(".btn-syn").click(function () {
        egovutil.dialog("Đồng bộ dữ liệu", "normal", "/customerrequest/nextyear", "customerRequestAction.search()");
    });
    // sitaAction.search();
    $("#btn-search").click(function () { customerRequestAction.search(); })

</script>