
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">KIỂM SOÁT XE RA</span>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3 col-xs-3">
                </div>
                <div class="col-md-9 col-xs-12">
                    <a href="#">
                        <img src="~/logo/logoals.png" alt="logo" style="width:100%;" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-3">
                </div>
                <div class="col-md-6 col-xs-3">
                    <input class="form-control form-control-inline input txtName" placeholder="SCAN BARCODE" maxlength="256" id="pxkno" style="height:70px !important" />
                    <div class="form-control-focus"> </div>
                </div>

            </div>
            <div class="col-md-12">
                <div id="content-list-result">
                </div>
            </div>
        </div>

    </div>

</div>