@{
    Layout = null;
}


<form class="form-horizontal" id="frmAction">
    <input type="hidden" name="CODE_MULTI" id="CODE_MULTI" />
    <input type="hidden" name="fr" id="fr" />
    <div class="form-body">
        <div class="form-group form-md-line-input">

            <label class="col-md-3 control-label" for="frmAction">
                <b>NĂM ĐỒNG BỘ:</b>
                <span class="required">*</span>
            </label>
            <div class="col-md-3">
                <select class="form-control  bs-select" name="to" data-live-search="true" data-size="8">

                    @for (int i = 2018; i < 2050; i++)
                    {
                        <option value="@Html.DisplayTextFor(model=>i)" @Html.Raw(i == DateTime.Now.Year ? "Selected" : "")>@Html.DisplayTextFor(model => i)</option>
                    }
                </select>
                <div class="form-control-focus"> </div>

            </div>


        </div>




    </div>

    <div class="text-center">
        <button type="button" class="btn btn-success" id="btnSave"><i class="fa fa-floppy-o"></i> Đồng bộ dữ liệu</button>
        <button type="reset" class="btn btn-success"><i class="fa fa-refresh"></i> Làm mới</button>
    </div>



    <!-- /.box-footer -->
</form>
<script>
    $(".form_datetime").datetimepicker({
        autoclose: true,
        isRTL: App.isRTL(),
        format: "dd/mm/yyyy  hh:ii:ss",
        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
    });
    var message = {

        to: {
            required: "Năm đồng bộ không được trống"
        }

    };
    var rule = {

        to: { required: true }

    };
    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    $("#btnSave").click(function () {
        var chkValsKvgs = $('.check_code:checkbox:checked').map(function () {
            return this.value;
        }).get();
        if (chkValsKvgs.join(",") == "")
            egovutil.MessageToast("error", "Thông báo", "Vui lòng chọn thông tin cần đồng bộ!");
        else
        {
            $("#CODE_MULTI").val(chkValsKvgs.join(","));
            $("#fr").val($("#ya").val());
            $("#frmAction").submit();
        }

    });
    egovutil.submit("#frmAction", rule, message, "/customerrequest/nextaction");




</script>


