@{
    Layout = "~/Views/Layout/Core.cshtml";
}


    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="content-list-result" style="height:500px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="content-list-result2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
            var cfsAction = {
                search: function () {
                    egovutil.getContent("#content-list-result", "/Issue/list");
                },
                search2: function () {
                    egovutil.getContent("#content-list-result2", "/Issue/list2");
                }
            }

            cfsAction.search();
            cfsAction.search2();
</script>
