@{
    

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">Báo cáo cấp số</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" data-id="02" class="btn btn-circle btn-danger btn-export-log">
                        <i class="fa fa-download"></i> Xuất thông tin
                    </a>

                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">                        
                        <div class="col-md-2 col-xs-12">
                            <input class="form-control form-control-inline date-picker" value="@Html.Raw(DateTime.Now.ToString("dd/MM/yyyy"))" id="fda" placeholder="Từ ngày" maxlength="20" data-date-format="dd/mm/yyyy" />
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Tìm theo từ ngày</span>
                        </div>
                        <div class="col-md-2 col-xs-12">

                            <div class="input-group">

                                <input class="form-control form-control-inline  date-picker" id="tda" value="@Html.Raw(DateTime.Now.ToString("dd/MM/yyyy"))" placeholder="Đến ngày" maxlength="20" data-date-format="dd/mm/yyyy" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo đến ngày</span>



                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">

                            <div class="input-group">

                                <input class="form-control uppercase" id="ino" placeholder="ino" maxlength="50" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Vui lòng nhập số phiếu xuất kho cần tìm</span>
                                <span class="input-group-btn">
                                    <button id="btn-search" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="form-group form-md-line-input">

                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>





        </div>
    </div>

</div>
<script>
    var queueAction = {
        search: function () {
            egovutil.getContent("#content-list-result", "/queue/list?ino=" + $("#ino").val()                                                                   
                                                                    + "&fda=" + $("#fda").val()
                                                                    + "&tda=" + $("#tda").val()
                                                                    );
        }
    }

    $(".btn-export-log").click(function () {
        window.location.href = "/queue/export?ino=" + $("#ino").val()
                                                                    + "&fda=" + $("#fda").val()
                                                                    + "&tda=" + $("#tda").val()

    });
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
    });
  
   

    $("#btn-search").click(function () { queueAction.search(); })

</script>