@{
    Layout = "~/Views/Layout/Core.cshtml";
}

<style>
    /*element.style {
        width: 80px;
    }

    #ui-id-1 {
        width: 100px;
    }

    .ui-autocomplete ui-front ui-menu ui-widget ui-widget-content {
        width: 100px;
    }*/

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10051;
        float: left;
        display: none;
        min-width: 120px;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
</style>
<div class="row" style="padding:20px;">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">TÌM KIẾM ULD</span>
                </div>
                

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">
                        
                        <div class="col-md-4 col-xs-12">

                            <div class="input-group">


                                <input class="form-control uppercase" id="uld" placeholder="5 chữ số uld" maxlength="30" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Vui lòng nhập mã uld</span>
                                <span class="input-group-btn hidden">
                                    <button id="btn-search" class="btn btn-success disabled" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="form-group form-md-line-input">
                        <div class="col-md-2 col-xs-3">
                            <input class="form-control form-control-inline input txtName" placeholder="Chuyến bay" maxlength="256" id="fno" />
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Ký hiệu</span>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="input-group">

                                <input class="form-control form-control-inline date-picker" value="@Html.Raw(DateTime.Now.ToString("dd/MM/yyyy"))" id="ata" placeholder="Từ ngày" maxlength="20" data-date-format="dd/mm/yyyy" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo ATA</span>
                                <span class="input-group-btn">
                                    <button id="btn-search-sita" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>


                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


<script>
    var hermesAction = {
        search: function () {
            egovutil.getContent("#content-list-result", "/FindUld/listUld?fno=" + $("#fno").val()
                                                                    + "&ata=" + $("#ata").val()
                                                                    );
        }
    }
    var Action = {
        Reset: function () {
            console.log('da chay vao Action Reset')
            $('#uld').val('');
        },
    }
    if ($('#uld').val().length == 11) {
        console.log('da chay vao length 11')
    }
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
    });
    $(".btn-export-log").click(function () {
        window.location.href = "/HawbManagement/export?fno=" + $("#fno").val()
                                                                    + "&ata=" + $("#ata").val()
    });

    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });

    // sitaAction.search();
    $("#btn-search-sita").click(function () { hermesAction.search(); })
    var uld = $('#uld').val();
    console.log($('#uld').val());

    var common = {
        init: function () {
            common.registerEvents();
        },
        registerEvents: function () {
            //var flightID = $('#txtFlightID').val();
           // var ticketType = $('#ticket').val();
          
          
            $('#uld').autocomplete({
                minLength: 0,
                source: function (request, response) {
                    console.log($('#uld').val().length);
                    if ($('#uld').val().length == 5 || $('#uld').val().length == 4)
                    {
                        console.log('da chay vao day')
                        var data = {
                            Keyword: request.term,
                        }
                        $.ajax({
                            url: "/FindUld/GetListUldsByName",
                            dataType: "json",
                            data: {
                                dataViewModel: JSON.stringify(data)
                            },
                            success: function (res) {
                                response(res.data);
                            }
                        });
                    }
                 
                },
                focus: function (event, ui) {
                    $("#uld").val(ui.item.label);
                    return false;
                },
                select: function (event, ui) {
                    if (ui.item.label.length > 0) {
                        console.log('da chay vao select')
                      //  $("#awb").val(ui.item.label.split('/')[0]);
                        var uid = ui.item.label.split('/')[1];
                        var date = ui.item.label.split('/')[2];
                        setTimeout(() => {
                            console.log('da chay vao Settime out')
                            $('#uld').val('');
                            Action.Reset()
                        }, 1000)
                        egovutil.getContentCallBack("#content-list-result", "/FindUld/list?uld=" + uid + "&date=" + date, Action.Reset);
                        //setTimeout(() => {
                        //    Action.Reset()
                        //},1000)
                        //   console.log('da chay vao day hihihi')
                        return false;
                    }
                    else {
                        setTimeout(() => {
                            Action.Reset()
                        }, 1000)
                        return;
                    }
                   
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                if (item.label.length > 0) {
                    return $("<li style='float:left;width:50%;height:50px;color:red;list-style: none;border-bottom: 1px black;'>")
       .append("<a style='height:200px'>" + item.label.split('/')[0] + "</a>")
       .appendTo(ul);
                }
                else
                {
                    return;
                }
                }
               

        }
    }
    common.init();
    $("#btn-search").click(function () { hermesAction.searchList(); })
</script>
