@{
//Layout = null;
}
<style>
    element.style {
        width: 80px;
    }

    #ui-id-1 {
        width: 100px;
    }

    .ui-autocomplete ui-front ui-menu ui-widget ui-widget-content {
        width: 100px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10051;
        float: left;
        display: none;
        min-width: 120px;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">DANH SÁCH XE</span>
                </div>
                <div class="actions">
                    @*<a href="javascript:;" data-id="02" class="btn btn-circle btn-danger btn-export-log">
                        <i class="fa fa-download"></i> Xuất danh sách
                    </a>*@
                    <a href="/Ticket/printqueue" class="btn btn-circle btn-success btn-print" target="_blank">
                        <i class="fa fa-link"></i> Link to Queue
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
              
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">
                        <div class="col-md-2 col-xs-3">
                            <select class="form-control  bs-select" id="ticket" data-live-search="true" data-size="8">
                                <option value="2">VÉ THÁNG</option>
                                <option value="3">VÉ VIP</option>
                            </select>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">LOẠI VÉ</span>
                        </div>
                        <div class="col-md-4 col-xs-12">

                            <div class="input-group">


                                <input class="form-control uppercase" id="bsx" placeholder="Biển số xe" maxlength="30" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Vui lòng nhập số BSX cần tìm</span>
                                <span class="input-group-btn">
                                    <button id="btn-search" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


<script>
    var Action = {
        setValueInput: function () {

            $('.input-sm').attr('placeholder', 'phím tắt F1')
        },
    }

    var refreshIntervalId;
    var hermesAction = {
        searchList: function () {

            egovutil.getContentCallBack("#content-list-result", "/Ticket/list?id=0&bsx=" + $("#bsx").val()
                 + "&ticketType=" + $("#ticket").val()
                , Action.setValueInput);
        },
        printQueue: function () {

            egovutil.getContentCallBack("#content-list-result", "/Ticket/list"
                , Action.setValueInput);
        }

    }
    //hermesAction.searchList();
    //$('input[type=radio][name=tinhTrang]').change(function () {
    //    if (this.id == 'listTruck') {
    //        egovutil.getContentCallBack("#content-list-result", "/Ticket/list?id=0", Action.setValueInput);
    //    }
    //    else {
    //        egovutil.getContentCallBack("#content-list-result", "/Ticket/list?id=1", Action.setValueInput);
    //    }
    //});
    //var common = {
    //    init: function () {
    //        common.registerEvents();
    //    },
    //    registerEvents: function () {
    //        //var flightID = $('#txtFlightID').val();
    //        var ticketType = $('#ticket').val();

    //        $('#bsx').autocomplete({
    //            minLength: 0,
    //            source: function (request, response) {
    //                console.log('da chay vao day')
    //                var data = {
    //                    keyword: request.term,
    //                    type: ticketType
    //                }
    //                $.ajax({
    //                    url: "/Ticket/GetListBSXByName",
    //                    dataType: "json",
    //                    data: {
    //                        dataViewModel: JSON.stringify(data)
    //                    },
    //                    success: function (res) {
    //                        response(res.data);
    //                    }
    //                });
    //            },
    //            focus: function (event, ui) {
    //                $("#bsx").val(ui.item.label);
    //                return false;
    //            },
    //            select: function (event, ui) {
    //                $("#bsx").val(ui.item.label);
    //                return false;
    //            }
    //        }).autocomplete("instance")._renderItem = function (ul, item) {
    //            return $("<li style='float:left;width:50%;height:50px;color:red;list-style: none;border-bottom: 1px black;'>")
    //    .append("<a style='height:200px'>" + item.label + "</a>")
    //    .appendTo(ul);
    //        };

    //    }
    //}
    //common.init();
    $("#btn-search").click(function () { hermesAction.searchList(); })
</script>
