@{

    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">Quản lý thẻ</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" data-id="02" id="btn-export-log" class="btn btn-circle btn-danger btn-export-log">
                        <i class="fa fa-download"></i> Upload file
                    </a>
                    <a href="javascript:;" class="btn btn-default btn-sm btn-add-item">
                        <i class="fa fa-plus"></i> Thêm mới
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                   
                    <div class="form-group form-md-line-input">
                        <div class="col-md-2 col-xs-12">


                            <select class="form-control  bs-select" id="expried" data-live-search="true" data-size="8">
                                <option value="15">15D</option>
                                <option value="30">30D</option>
                                <option value="45">45D</option>
                                <option value="1000">ALL</option>
                            </select>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">NGÀY HẾT HẠN</span>



                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="input-group" style="padding-left:20px !important">

                                <select class="form-control  bs-select" id="stt" data-live-search="true" data-size="8">
                                    <option value="1">ĐANG LÀM VIỆC</option>
                                    <option value="2">TẤT CẢ</option>
                                    <option value="0">NGHỈ VIỆC</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span class="help-block">TRẠNG THÁI</span>
                                <span class="input-group-btn">
                                    <button id="btn-search-sita" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>

                            </div>
                        @*<div class="col-md-2 col-xs-12">

                            <div class="input-group" style="padding-left:20px !important">

                                <input class="form-control form-control-inline  date-picker" id="tda" value="@Html.Raw(DateTime.Now.ToString("dd/MM/yyyy"))" placeholder="Đến ngày" maxlength="20" data-date-format="dd/mm/yyyy" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo ngày</span>
                                <span class="input-group-btn">
                                    <button id="btn-search-sita" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-md-12">
                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>





        </div>
    </div>

</div>
<script>
    var hermesAction = {
        search: function () {
            egovutil.getContent("#content-list-result", "/CardManagement/list?expried=" + $("#expried").val()
            + "&stt=" + $("#stt").val());
            //+ "&tda=" + $("#tda").val()
                                                                  //+ "&group=" + $("#group").val());
        }
    }
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
    });
    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    $(".btn-add-item").click(function () {
        egovutil.dialog("THÊM MỚI", "large", "/PhanCa/edit/", "hermesAction.search()");
    });
    $("#btn-search-sita").click(function () {
        hermesAction.search();

    })
    $("#btn-export-log").click(function () {

        egovutil.dialog("Import thông tin đăng ký", "large", "/CardManagement/import?id=1");
    });
</script>