@{
   

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">Báo cáo hàng hóa nhập</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" data-id="02" class="btn btn-circle btn-danger btn-export-log">
                        <i class="fa fa-download"></i> Xuất thông tin
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">
                        
                        <div class="col-md-2 col-xs-12">

                            <input class="form-control form-control-inline form_datetime" value="@Html.Raw(DateTime.Now.ToString("dd/MM/yyyy 00:00"))" id="fda" placeholder="Từ ngày" maxlength="20" data-date-format="dd/mm/yyyy hh:ii" />
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Tìm theo từ ngày</span>

                        </div>


                        <div class="col-md-3 col-xs-12">

                            <div class="input-group">


                                <input class="form-control form-control-inline form_datetime" value="@Html.Raw(DateTime.Now.ToString("dd/MM/yyyy 23:59"))" id="tda" placeholder="Đến ngày" maxlength="20" data-date-format="dd/mm/yyyy hh:ii" />
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Tìm theo từ ngày</span>
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-search" type="button"><i class="fa fa-search"></i></button>
                                </span>


                            </div>
                        </div>


                    </div>

                    
                </div>

                <div class="row">
                    <div class="form-group form-md-line-input">

                        <div id="content-list-result">

                        </div>
                    </div>


                </div>






            </div>





        </div>
    </div>

</div>
<script>
    var reportAction = {
        search: function () {
            egovutil.getContent("#content-list-result", "/custom/listimp?fda=" + $("#fda").val()
                                                                       + "&tda=" + $("#tda").val()

                                                                    );
        }
    }
    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    $(".btn-export-log").click(function () {
        window.location.href = "/custom/exportimp?fda=" + $("#fda").val()
                                                                       + "&tda=" + $("#tda").val()



    });
   

    $(".form_datetime").datetimepicker({
        autoclose: true,
        isRTL: App.isRTL(),
        format: "dd/mm/yyyy  hh:ii",
        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
    });

    $('.bs-select').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    

    $(".btn-search").click(function () { reportAction.search(); })

</script>