@{
    Layout = "~/Views/Layout/Core.cshtml";

}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">DANH SÁCH XE BÊN TRONG ALSC</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" data-id="02" class="btn btn-circle btn-danger btn-export-log">
                        <i class="fa fa-download"></i> Xuất danh sách
                    </a>
                    <a href="javascript:;" class="btn btn-default btn-sm btn-add-item">
                        <i class="fa fa-plus"></i> Thêm mới
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group form-md-line-input">
                        <div class="form-group form-md-line-input">
                            <div class="md-radio-inline col-md-10">
                                <div class="md-radio has-warning">
                                    <input id="ttWaiting" name="tinhTrang" value="1" class="md-radiobtn" type="radio" checked>
                                    <label for="ttWaiting">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>Tầng 1
                                    </label>
                                </div>
                                <div class="md-radio has-success">
                                    <input id="ttNow" name="tinhTrang" value="2" class="md-radiobtn" type="radio">
                                    <label for="ttNow">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Tầng 2
                                    </label>
                                </div>
                                <button id="btn-search-sita" class="btn btn-success" type="button"><i class="fa fa-refresh"> Làm mới</i></button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="content-list-result">

                        </div>
                    </div>


                </div>


            </div>





        </div>
    </div>

</div>
<script>
    var Action = {
        setValueInput: function () {

            $('.input-sm').attr('placeholder', 'NHẬP BSX')
        },
    }
    var type = 1;
    var hermesAction = {
        searchWaiting: function () {

            egovutil.getContentCallBack("#content-list-result", "/Indoor/list/1", Action.setValueInput);
        },
        searchNow: function () {
            egovutil.getContentCallBack("#content-list-result", "/Indoor/list/2", Action.setValueInput);

        }
    }
    hermesAction.searchWaiting();

    $("#btn-search-sita").click(function () {
        if (type == 1) { hermesAction.searchWaiting(); }
        if (type == 2) { hermesAction.searchNow(); }
        
    })
    refreshIntervalId = setInterval(hermesAction.searchWaiting,
             20000)

    $('input[type=radio][name=tinhTrang]').change(function () {
        if (this.id == 'ttWaiting') {
            type = 1;
            egovutil.getContentCallBack("#content-list-result", "/Indoor/list/1", Action.setValueInput);
            clearInterval(refreshIntervalId);
            refreshIntervalId = setInterval(hermesAction.searchWaiting,
            10000)
        }
        else if (this.id == 'ttNow') {
            type = 2;
            egovutil.getContentCallBack("#content-list-result", "/Indoor/list/2", Action.setValueInput);
            clearInterval(refreshIntervalId);
            refreshIntervalId = setInterval(hermesAction.searchNow,
              10000)

        }
    });


</script>