@{
    Layout = null;

}

<div class="hor-menu">
    
    <ul class="nav navbar-nav">

        <li aria-haspopup="true" class="menu-dropdown ">
            <a href=" javascript:;" class="nav-link nav-toggle">
                <i class="icon-plane "></i>
                <span class="title">Tra cứ lịch bay</span>
                <span class="arrow "></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a href="/home" data-url="/home">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Lịch bay hàng nhập</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                    <a href="/flightexp" data-url="/flightexp">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Lịch bay hàng xuất</span>
                    </a>
                </li>



            </ul>
        </li>

    

        <li aria-haspopup="true" class="menu-dropdown">
            <a  class="log-page"  data-url="/impawb">
                <i class="icon-grid"></i>
                <span class="title">Tra cứu hàng nhập</span>


            </a>

        </li>
        <li aria-haspopup="true" class="menu-dropdown ">
            <a href=" javascript:;" class="nav-link nav-toggle">
                <i class="icon-plane "></i>
                <span class="title">Hàng Xuất</span>
                <span class="arrow "></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/expawb">
                        <i class="icon-grid"></i>
                        <span class="title">Tra cứu hàng xuất</span>


                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                    <a class="log-page" data-url="/invoice/exp">
                        <i class="icon-grid"></i>
                        <span class="title">Báo cáo thanh toán</span>
                    </a>
                    
                </li>

                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                    <a class="log-page" data-url="/invoice/expp">
                        <i class="icon-grid"></i>
                        <span class="title">Báo cáo thanh toán bằng thẻ</span>
                    </a>

                </li>

            </ul>
        </li>

        
       
        <li aria-haspopup="true" class="menu-dropdown">
            <a class="log-page" data-url="/expawb/uld">
                <i class="icon-grid"></i>
                <span class="title">ULD</span>
            </a>
        </li>
        <li aria-haspopup="true" class="menu-dropdown">
            <a class="log-page" data-url="/kscb">
                <i class="icon-grid"></i>
                <span class="title">KSCB</span>
            </a>
        </li>
        <li aria-haspopup="true" class="menu-dropdown ">
            <a href=" javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-pie-chart"></i>
                <span class="title">Báo cáo sản lượng</span>
                <span class="arrow "></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/home/flight">
                        <i class="icon-arrow-right "></i>
                        <span class="title">S/L theo chuyến bay</span>
                    </a>

                </li>
              
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/custom">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo trả hàng</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/custom/inventory">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo hàng tồn</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/custom/import">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo hàng nhập</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/impawb/importrs">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo hàng về</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/invoice">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo thanh toán</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/invoice/indexpos">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo thanh toán bằng thẻ</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/queue">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo cấp số</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/companybussiness">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Thông tin ủy quyền</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/customerregister">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Đăng ký kinh doanh</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/capso/log">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo cấp số</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/kscb/export">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Báo cáo KSCB</span>
                    </a>

                </li>
            </ul>
        </li>
        <li aria-haspopup="true" class="menu-dropdown ">
            <a href=" javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-pie-chart"></i>
                <span class="title">Thống kê điện</span>
                <span class="arrow "></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/sita">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Thống kê điện FSU</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/gensita">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Xuất điện văn</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/damage">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Điện bất thường</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/cargospecial">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Hàng đặc biệt</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/message">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Kiểm soát báo hàng</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/sita/exp">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Thống kê điện RCS</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/inout">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Thông tin vào ra</span>
                    </a>

                </li>
            </ul>
        </li>


        <li aria-haspopup="true" class="menu-dropdown ">
            <a href=" javascript:;" class="nav-link nav-toggle">
            <i class="icon-list "></i>
            <span class="title">Quản trị</span>
            <span class="arrow "></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li aria-haspopup="true" class="menu-dropdown ">
                    <a class="log-page" data-url="/member">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Quản lý thành viên</span>
                    </a>

                </li>
                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                    <a class="log-page" data-url="/organization">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Phòng ban</span>
                    </a>
                </li>
                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                    <a class="log-page" data-url="kscb/sopconfig">
                        <i class="icon-arrow-right "></i>
                        <span class="title">SOP TIME</span>
                    </a>
                </li>
                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                    <a class="log-page" data-url="kscb/warningconfig">
                        <i class="icon-arrow-right "></i>
                        <span class="title">Warning Time</span>
                    </a>
                </li>



            </ul>
        </li>
    </ul>
</div>
        <script>
            $(".menu-dropdown a").on("click", function () {
                
                $(".menu-dropdown.active").removeClass("active")
                $(".menu-dropdown.open").removeClass("open")
                $(this).parent().addClass("active open");
            });

            $(".log-page").click(function () {
                egovutil.loadUrlMain($(this).attr("data-url"));
            });
        </script>
